header{
    text-align:center;
    background-color: brown;
    grid-column: 1/3;
    
}
body{ 
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap:20px;
}
aside{
    grid-row: 2/4;
    background-color: lightgrey;

}
section{
    grid-row:2/4;
    background-color: beige;
    padding:45px;
    text-align:center;
}
textarea {
    width: 85%;
    height: 85%;
    margin: 10px;
    border-radius:20px;
    padding: 20px 20px;
    resize:none;
  }


footer{
    text-align:center;
    font-size: 20px;
    background-color: pink;
    grid-column:1/3

}
.save_button{
    background-color:green;
    border-radius: 20px;
    padding: 20px;
    color: white;
    margin: 10px

}
.cancel_button{
    background-color:red;
    border-radius: 20px;
    padding:20px;
    color: white;

}
.note_button{
    background-color:green;
    border-radius: 20px;
    padding:20px;
    color: white;
    float:left

}
.dark_button{
    background-color:grey;
    border-radius: 20px;
    padding:20px;
    color: white;
    float: right;
}

img{
    width:70px;
    padding:10px
}